@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); /* Aqui importamos la fuente Roboto desde GoogleFonts */

/*Aqui ponemos el margen que tendrá todo dentro del espacio web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Pues el background y el color como su nombre indica*/
body{
    font-family: 'Roboto', sans-serif; /* El tipo de fuente. Al actualizar el navegador deberia aparecer con esta fuente */
    background: #131524;
}

header{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video{
    width: 100%;
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

h1{
    font-size: 100px;
    font-weight: 600;
    z-index: 100;
    margin-bottom: 30px;
}

h1::after{
    display: block;
    width: 30%;
    height: 1px;
    content: "";
    margin: auto;
    background: white;

}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0c3b4749;
}

/*Le damos al elemento Nav un width de 300px*/
.nav{
    width: 300px;
    
}

.LogoImg{
    background-attachment: fixed;
    width: 100%;
    position: initial;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;

}


.nav__link{
    color: #ffffff;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{ /*Aqui estamos diciendo que los elementos del submenu dentro del menu, cada vez que pase el mouse
    cambie el fondo como señalandose*/
    background: #131524;

}

.list{ /*Aqui estamos ubicando el elemento LIST dentro del marco web. En columna, centrados en la pagina y demas.
    Tambien le hemos creado una barra con los bordes redondeados y con fondo blanco*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #12101d;
}

.list__item{ /*El elemento list__item si miramos en el HTML es el hijo directo del ul. Aquí estamos dando propiedades a esos
    elementos dentro de la web. Centrando los textos*/
    list-style: none;
    width: 100%;
    padding: 1px;
    text-align: center;
    overflow: hidden; /*Hace que los submenus no sean visibles*/
}

.list__item--click{ /*Le añadimos un cursor pointer a este modificador que tenemos en list__item para cuando pasemos el mouser*/
    cursor: pointer;
}

.list__button{ /*Se me ven desubicados porque no tienen el mismo tamaño "id, location..."*/
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{ /*Esto hace que al hacer click, la flechita gire 90º y demas propiedades*/
    transform: rotate(90deg);
    transition: transform .4s; /*La animacion y su transicion*/

}

.list__arrow{ /*Echamos la flechita un poco ara la izq*/
    margin-left: auto;
}

.list__show{ /*A los elementos en list__show les damos estas propiedades. Hemos animado una transicion yuhuu*/
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.world{ /*A los elementos en world les damos estas propiedades. Hemos animado una transicion yuhuu*/
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

@media screen and(max-width: 800px){
    h1{
        font-size: 50px;
    }
}

@media screen and(max-width: 500px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }

    h1::after{
        display: none;
    }
}